
@{
    ViewBag.Title = "Kendo UI MVC Drop Down List";
}

<h2>Drop Down List</h2>

@(UI.DropDownList<int?>("dayDropDown", null)
    .SetLabelText("Favorite Day")
    .SetDataSource((IList<SelectListItem>)ViewBag.DaysOfTheWeek))

