current/KendoUIMvc/bin/
current/KendoUIMvc/obj/
current/KendoUIMvcTest/KendoUIMVCTest/bin/
current/KendoUIMvcTest/KendoUIMVCTest/obj/
current/KendoUIMvcTest/KendoUIMVCTest/obj/debug/
current/KendoUIMvcTest/KendoUIMVCTest.v12.suo