@model KendoUIMVCTest.Models.DemoModel

@using KendoUIMVCTest.Models
@using CommonMvc.Razor.Controls

@{
    ViewBag.Title = "Kendo UI MVC Bound Razor Grid";
}

<h2>Bound Razor Grid</h2>

@{  IGrid<DemoModel> grid = UI.Grid("gridSample", "Id")
        .SetRemoteDataSource("GetData", "RazorGrid", "Demo")
        .SetWindowAddButton("Add", "RazorGrid")
        .SetPageSize(4)
        .SetPageData(true)
        .SetServerPaging(true)
        .SetGridContainerClass("col-md-6")
        .AddEditColumnModal("Maintain Demo Data", "Demo Data", "Edit", "RazorGrid")
        .AddDeleteColumn("", "Delete", "RazorGrid")
        .AddColumnFor(model => model.FavoriteDay)
        .AddLookupColumnFor(model => model.FavoriteDay, (IEnumerable<SelectListItem>)ViewBag.FavoriteDayList)
        .AddDateColumnFor(model => model.BirthDate);
}

@grid.Render()

@using (grid.GetEditWindow()
           .RenderBegin())
{
    @UI.TextBoxFor(model => model.Id)
    @UI.TextBoxFor(model => model.FavoriteDay)
    @UI.DatePickerFor(model => model.BirthDate)
}
