@model KendoUIMVCTest.Models.DemoModel

@{
    ViewBag.Title = "Kendo UI MVC AJAX Form Two Columns";
}

<h2>AJAX Form - Two Columns</h2>

@using (UI.AjaxForm("frmSample", "Index", "AjaxForm")
    .SetDefaultGroupStyle("col-md-6")  // Set the column groups to be 6 of the 12 columns
    .RenderBegin())
{
    @UI.TextBoxFor(model => model.Id)
    @UI.TextBoxFor(model => model.FavoriteDay)
    @UI.DatePickerFor(model => model.BirthDate)
}