@{
    ViewBag.Title = "Kendo UI MVC Notification";
}

<h2>Notification</h2>

@(UI.MessageDisplay("errorDisplay")
    .SetMessageType(CommonMvc.Razor.Controls.MessageType.error)
    .SetAppendTo("#btnContainer")
    .SetAutoHideAfter(0)
    .SetWidth("400")
    .SetStacking(CommonMvc.Razor.Controls.StackingType.up)
    .SetCanGrow(false))

<div id="btnContainer">
    @(UI.Button("btnShowError", "Show Error Notification")
    .SetOnClick("showErrorClicked()"))
</div>
<script type="text/javascript">
    function showErrorClicked() {
        showerrorDisplay('An error occurred');
    }
</script>