@model KendoUIMVCTest.Models.DemoModel

@{
    ViewBag.Title = "Kendo UI MVC HTML Form Horizontal Labels";
}

<h2>HTML Form - Horizontal</h2>

@using (UI.Form("frmSample", "Index", "HtmlForm")
           .SetFormLayout(KendoUIMvc.Models.ViewSettings.FormLayoutOption.Horizontal)
           .RenderBegin())
{
    @UI.TextBoxFor(model => model.Id)
    @UI.TextBoxFor(model => model.FavoriteDay)
    @UI.DatePickerFor(model => model.BirthDate)
}