@{
    ViewBag.Title = "Kendo UI MVC";
}

<div class="jumbotron">
    <h1>Kendo UI MVC</h1>
    <p class="lead">Kendo UI MVC project provides an ASP.Net MVC wrapper API on top of the open source Kendo UI Core project.  The wrapper API is intended
    to simplify the resulting code that is necessary to use the Kendo UI Core library.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Kendo UI MVC is intended to help provide a feature rich, modern user interface for your web application.  Built upon the popular open source Kendo UI Core 
            project and Twitter Bootstrap, Kendo UI MVC is a great foundation for your project.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demo</h2>
        <p>View the Kendo UI MVC demo to see examples of the wrapper classes.  The demo is also a great place to test any custom enhancments you would like to make.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contribute</h2>
        <p>The KendoUIMvc project is open source.  If you would like to request features or submit enhancements, check us out on GitHub.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>